.breadcrumb {
	border-radius: 0;
	h4 {
		color: $cream;
	}
	a {
		color: $cc-grey;
		&:hover {
			color: $cream;
		}
	}
}
.breadcrumb.active {
	a {
		color: $cream;
		&:hover {
			text-decoration: none;
			cursor: default;
		}
	}
}