#wrapper-footer {
	border-top: 15px solid $cc-main;
	margin-top: 3rem;
	.container {
		.row {
			#footer-contact {
				a {
					color: $cc-main;
					&:hover, &:focus {
						color: $cc-primary;
					}
				}				
			}
		}
	}
}
#g {
	a {
		opacity: 0.1;
		text-decoration: none;
		font-family: 'Josefin Sans', serif;
		display: block;
		letter-spacing: 5px;
		padding: 0;
		cite {
			color: $gray-darker;
			display: block;
		}
		span {
			display:none;
			color: #f1948a;
			opacity: 0;
			small {
				color: $gray;
				letter-spacing: 3px;
			}
		}
		&:hover {
			opacity: 1;
			transition: ease 3s;
			cite {
				display: none;
			}
			span {
				display: inherit;
				opacity: 1;
			}
		}
	}
}