.gallery.gallery-size-thumbnail {
	figure.gallery-item {
		div.gallery-icon {
			padding: 0.335rem;
			margin: 1px;
			background-color: $white;
			&:hover {
				background-color: $cc-main;
			}
			img {}
			a {
				display: block;
				img.attachment-thumbnail.size-thumbnail {}
			}
		}
	}
}