blockquote.quotescollection-quote {
	background-color: rgba($white, 0.7);
	padding: 3rem;
	p {
		code {
			color: $gray-darker !important;
			font-size: 1.5rem;
			letter-spacing: 1.175px;
			font-family: 'Questrial', serif;
		}
	}
	code {
		color:$dark;
		font-family: 'Questrial', serif;
		font-size: 1.1rem;
		letter-spacing:1px;
	}
}