// Fonts
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,600,600i,700,700i|Questrial');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');
// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


// Custom Color Palette
$cc-primary:#9958a3;
$cc-secondary:#8d5ead;
$cc-main:#6d5996;
$cc-blue:#625EAD;
$cc-dblue:#5868A3;
$cc-grey:#9B96A7;
$cc-lgrey:#D2CAE2;

// Monochromatic Color Palette
$white:#fff;
$cream:#dcdcdc;
$gray-lighter:#c4c4c4;
$gray-light:#ababab;
$gray:#939393;
$gray-dark:#7a7a7a;
$gray-darker:#626262;
$dark-lighter:#494949;
$dark-light:#313131;
$dark:#181818;
$black:#000000;

// Body
$body-bg:$cream;

// Social Nav
$snav-bg:$cc-main;

// Navbar
$navbar-bg:$white;
$navbar-color:lighten($gray-dark, 20%);
$navbar-color-hover:$white;
	/* Items */
	$navbar-item-bg:$navbar-bg;
	$navbar-item-bg-hover:$cc-main;
	/* Dropdown */
	$dropdown-bg:$navbar-bg;